body {
    padding: 0;
    margin: 0; 
    background-color: #e4f2f5;

}

#root {
    padding: 0;
    margin: 0;
    background-color: #e4f2f5;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}


.hidden {
    display: none;
}

.visible {
    display: flex;
}

.openSidenav {
    width: 65vw;
}

.nav {
    width: 94.5vw;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    margin: 0;
    padding: 0;
}
